# Firebase (required)
EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyDVvM79GY5HojwJuJgRIMWMdWOFWFggHrA"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="spendwise-a1e35.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="spendwise-a1e35"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="spendwise-a1e35.appspot.com"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="490975609770"
EXPO_PUBLIC_FIREBASE_APP_ID="1:490975609770:web:60d355437569990c6561d3"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID="G-JPGVPYGRPF"

# Gemini (required only if you use Gemini-powered features)
EXPO_PUBLIC_GEMINI_API_KEY="AIzaSyAtiUmbhJ5zj1x3QnEbqV7kJ3uiD1v1UrU"
